{{- if (and (not .Values.customTLSCertificate) (not .Values.certManager.enabled)) }}
apiVersion: batch/v1
kind: Job
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ template "common.naming.fullname" . }}-apiservice-patch
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
  labels:
    {{- include "common.labels" . | nindent 4 }}
spec:
  template:
    metadata:
      name: {{ template "common.naming.fullname" . }}-apiservice-patch
      labels:
        {{- include "common.labels" . | nindent 8 }}
    spec:
      {{- with include "common.images.renderPullSecrets" ( dict "pullSecrets" (list .Values.image.pullSecrets) "context" .) }}
      imagePullSecrets:
        {{- . | nindent 8 }}
      {{- end }}
      containers:
        - name: patch
          image: {{ include "common.images.image" ( dict "imageRoot" .Values.apiServicePatchJob.image "context" .) }}
          imagePullPolicy: {{ .Values.apiServicePatchJob.image.pullPolicy }}
          args:
            - patch
            - --namespace={{ .Release.Namespace }}
            - --secret-name={{ template "common.naming.fullname" . }}-apiservice
            - --apiservice-name=v1beta1.external.metrics.k8s.io
          {{- with .Values.apiServicePatchJob.extraEnv }}
          env:
          {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- with .Values.apiServicePatchJob.extraEnvFrom }}
          envFrom:
          {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- with .Values.apiServicePatchJob.extraVolumeMounts }}
          volumeMounts:
          {{- toYaml . | nindent 10 }}
          {{- end }}
      {{- with .Values.apiServicePatchJob.extraVolumes }}
      volumes:
      {{- toYaml . | nindent 6 }}
      {{- end }}
      restartPolicy: OnFailure
      serviceAccountName: {{ include "common.serviceAccount.name" . }}-apiservice
      securityContext:
        runAsGroup: 2000
        runAsNonRoot: true
        runAsUser: 2000
      {{- with include "common.tolerations" . }}
      tolerations:
        {{- . | nindent 8 }}
      {{- end }}
{{- end }}
