{{- if (and (not .Values.customTLSCertificate) (not .Values.certManager.enabled)) }}
apiVersion: batch/v1
kind: Job
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ template "common.naming.fullname" . }}-apiservice-create
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
  labels:
    app: {{ template "common.naming.name" . }}
{{ include "common.labels" . | indent 4 }}
spec:
  template:
    metadata:
      name: {{ template "common.naming.fullname" . }}-apiservice-create
      labels:
        app: {{ template "common.naming.name" . }}
{{ include "common.labels" . | indent 8 }}
    spec:
      {{- with include "common.images.renderPullSecrets" ( dict "pullSecrets" (list .Values.image.pullSecrets) "context" .) }}
      imagePullSecrets:
        {{- . | nindent 8 }}
      {{- end }}
      containers:
        - name: create
          image: {{ include "common.images.image" ( dict "imageRoot" .Values.apiServicePatchJob.image "context" .) }}
          imagePullPolicy: {{ .Values.apiServicePatchJob.image.pullPolicy }}
          args:
            - create
            - --host={{ template "common.naming.fullname" . }},{{ template "common.naming.fullname" . }}.{{ .Release.Namespace }}.svc
            - --namespace={{ .Release.Namespace }}
            - --secret-name={{ template "common.naming.fullname" . }}-apiservice
            - --cert-name=tls.crt
            - --key-name=tls.key
          {{- with .Values.apiServicePatchJob.extraEnv }}
          env:
          {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- with .Values.apiServicePatchJob.extraEnvFrom }}
          envFrom:
          {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- with .Values.apiServicePatchJob.extraVolumeMounts }}
          volumeMounts:
          {{- toYaml . | nindent 10 }}
          {{- end }}
      {{- with .Values.apiServicePatchJob.extraVolumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      restartPolicy: OnFailure
      serviceAccountName: {{ include "common.serviceAccount.name" . }}-apiservice
      securityContext:
        runAsGroup: 2000
        runAsNonRoot: true
        runAsUser: 2000
      {{- with include "common.tolerations" . }}
      tolerations:
        {{- . | nindent 8 }}
      {{- end }}
{{- end }}
