name: CI
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        goos: [ linux ]
        goarch: [ amd64, arm64, arm ]
    env:
      GOOS: ${{ matrix.goos }}
      GOARCH: ${{ matrix.goarch }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'

      # A cache entry is will be generated for `key`, and attempted to restore.
      # If `key` is not found, any partial match for `restore-keys` will be attempted.
      # Regardless of whether `key` was found or not, it will be created at the end of the run.
      # With this mechanism, we ensure caches are cycled regularly.
      - name: Go modules cache
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: gomod-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            gomod-
      - name: Build cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/go-build
          key: gobuild-${{ matrix.goos }}-${{ matrix.goarch }}-${{ github.sha }}
          restore-keys: |
            gobuild-${{ matrix.goos }}-${{ matrix.goarch }}

      - name: Build binary
        run: make build

      - name: Build Docker image
        if: matrix.goos == 'linux' && matrix.goarch == 'amd64'
        run: make image

      - name: Run CI checks
        if: matrix.goos == 'linux' && matrix.goarch == 'amd64'
        run: make ci

  chart-lint:
    name: Helm chart Lint
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        kubernetes-version: [ "v1.19.16", "v1.22.0", "v1.25.3" ]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: helm/chart-testing-action@v2.2.1

      - name: Add newrelic repository
        run: helm repo add newrelic https://helm-charts.newrelic.com

      - name: Lint charts
        run: ct --config .github/ct.yaml lint --debug

      - name: Check for changed installable charts
        id: list-changed
        run: |
          changed=$(ct --config .github/ct.yaml list-changed)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Run helm unit tests
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          helm plugin install https://github.com/quintush/helm-unittest

          for chart in $(ct --config .github/ct.yaml list-changed); do
            if [ -d "$chart/tests/" ]; then
              helm unittest -3 $chart
            else
              echo "No unit tests found for $chart"
            fi
          done
      - name: Setup Minikube
        uses: manusa/actions-setup-minikube@v2.7.1
        if: steps.list-changed.outputs.changed == 'true'
        with:
          minikube version: v1.28.0
          kubernetes version: ${{ matrix.kubernetes-version }}
          github token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-go@v3
        if: steps.list-changed.outputs.changed == 'true'
        with:
          go-version-file: 'go.mod'
      - name: Create image for chart testing
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          GOOS=linux GOARCH=amd64 make build # Set GOOS and GOARCH explicitly since Dockerfile expects them in the binary name
          DOCKER_BUILDKIT=1 docker build -t e2e/newrelic-metrics-adapter:test  .
          minikube image load e2e/newrelic-metrics-adapter:test
          kubectl create ns ct
      - name: Test install charts
        if: steps.list-changed.outputs.changed == 'true'
        run: ct install --namespace ct --config .github/ct.yaml --debug
      - name: Test upgrade charts
        if: steps.list-changed.outputs.changed == 'true'
        run: ct install --namespace ct --config .github/ct.yaml --debug --upgrade


  integration:
    name: Integration and e2e tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: [ "build" ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
      - uses: helm/kind-action@v1.2.0

      - name: Go modules cache
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: gomod-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            gomod-

      - name: Build cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/go-build
          key: gobuild-linux-amd64-${{ github.sha }}
          restore-keys: |
            gobuild-linux-amd64

      - name: Create k8s Kind Cluster
        run: make kind-up

      - name: Run integration tests
        env:
          NEWRELIC_API_KEY: "${{ secrets.NEWRELIC_API_KEY }}"
          NEWRELIC_ACCOUNT_ID: "${{ secrets.NEWRELIC_ACCOUNT_ID }}"
        run: make test-integration

      - name: Build Docker image
        run: make image-push IMAGE_REPO=localhost:5000/newrelic-k8s-metrics-adapter

      - name: Add newrelic repository
        run: helm repo add newrelic https://helm-charts.newrelic.com

      - name: Create Helm release
        env:
          KUBECONFIG: ./kubeconfig  # Generated by `make kind-up`
          NEWRELIC_API_KEY: "${{ secrets.NEWRELIC_API_KEY }}"
          NEWRELIC_ACCOUNT_ID: "${{ secrets.NEWRELIC_ACCOUNT_ID }}"
        run: |
          make generate-local-values
          helm dependency build ./charts/newrelic-k8s-metrics-adapter
          helm install newrelic-k8s-metrics-adapter ./charts/newrelic-k8s-metrics-adapter \
          --set image.repository=localhost:5000/newrelic-k8s-metrics-adapter \
          --set image.pullPolicy=IfNotPresent \
          --values values-dev.yaml --values values-local.yaml \
          --wait --timeout 240s

      - name: Run e2e tests
        run: make test-e2e


  static-analysis:
    name: Static analysis and linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
      - uses: newrelic/newrelic-infra-checkers@v1
        with:
          golangci-lint-config: golangci-lint
      - name: Semgrep
        uses: returntocorp/semgrep-action@v1
        with:
          auditOn: push
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        continue-on-error: ${{ github.event_name != 'pull_request' }}
        with:
          only-new-issues: true

  codespell:
    name: Codespell
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v2
      - name: Codespell test
        uses: codespell-project/actions-codespell@master
        with:
          check_filenames: true
          check_hidden: true
          ignore_words_list: te
          skip: ./.git,./internal/generated
